<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>A</span>núncios mais
        <span>b</span>uscados</h3>
      <p class="lead text-muted">Aqui você encontra todos os anúncios de diversas categorias!</p>
      <p>
      </p>
    </div>
  </section>

    <div class="album py-5 bg-light">

      <div class="row">
        <div class="container col-md-10">
          <% @ads.all.each do |ad| %>
        <div class="col-md-3" style="display: inline-block;">
          <div class="card mb-4 shadow-sm">
            <div class="bg-card" style="text-align: center; background-image: url(<%= ad.photos.first.thumb.url %>); height: 13em; background-repeat: no-repeat; background-position: center; " >
              <h3 class="h3-border" style="color: #f2fffe; text-shadow:0px 5px 10px #002bff; background-color: rgba(255,255,255,0.6); "><%= ad.title %></h3>
            </div>
            <div class="card-body" style="text-align: center;">
              <p class="card-text" style="color: red; text-shadow:1px 1px 1px #0d0d0c;">Preço: R$ <%= ad.price %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div style="display: inline; width: 100%">
                  <p class="bg-text" style="text-align: justify;"><%= resume ad.description %> </p>
                  <p>Quantidade restante: <%= ad.quantity %></p>
                  <%= link_to "Ver Informações", ad, class:"btn btn-primary my-2"%>
                  <hr>
                  <small class="text-muted">Data: <%= ad.created_at %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

    <hr>
</main>
