<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>I</span>nformações do
        <span>P</span>roduto</h3>
      <!-- //tittle heading -->
      
      <div class="row">
        <div class="col-lg-5 col-md-8 single-right-left ">
          <div class="grid images_3_of_2">
            <div class="flexslider">
              <ul class="slides">
                <% @ad.photos.each do |image| %>
                  <li data-thumb="<%= image.thumb.url %>">
                    <div class="thumb-image">
                      <img src="<%= image.url %>" data-imagezoom="true" class="img-fluid" alt=""> 
                    </div>
                  </li>
                <% end %>                
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-7 single-right-left simpleCart_shelfItem">
          <h3 class="mb-3"><%= @ad.title %></h3>
          <p class="mb-3">
            <span class="item_price">R$ <%= @ad.price %></span>
            <del class="mx-2 font-weight-light">R$ <%= desconto @ad.price %></del>
            <label><%= @ad.quantity %> Unidades disponíveis</label>
          </p>
          <div class="single-infoagile" style="text-align: justify;">
            <%= @ad.description %>
          </div>
          <div class="product-single-w3l">
            <p class="my-3">
              <i class="far fa-hand-point-right mr-2">
                <label>Informações do vendedor:</label>  
              </i>
              <p><strong>Nome: </strong><%= @ad.user.name %></p>
              <p><strong>Telefone: </strong> <%= number_to_phone(@ad.user.phone, pattern: /(\d{2})(\d{4,})(\d{4})$/, area_code: true)  %></p>
              <p><strong>Endereço: </strong><%= @ad.user.address %></p>
            </p>  
            <p class="my-sm-4 my-3">
              <i class="fas fa-retweet mr-3">Visualizações: </i>
              <%= @ad.viewnumber %>
            </p>
          </div>
          <div class="occasion-cart">
            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
              <a href="mailto:<%= @ad.user.email %>" class="btn btn-primary form-control" role="button">Negociar</a>
            </div>
          </div>
        </div>


        <div class="join-w3l1 py-sm-5 py-4">
          <div class="product-single-w3l">
            <p>Anúncios Similares</p>
          </div>
          <div class="container py-xl-4 py-lg-2">
            <div class="row">

              <% @ads.all.order(:title).each do |ad| %>
              <div class="col-lg-6">
                <div class="join-agile text-left p-4">
                  <div class="row">
                    <div class="col-sm-7 offer-name">
                      <h6>Oferta especial do dia</h6>
                      <h4 class="mt-2 mb-3"><%= ad.title unless ad.nil? %></h4>
                      <p><%= link_to "Ver Anúncio", ad, class:"btn btn-primary my-2"%></p>
                    </div>
                    <div class="col-sm-5 offerimg-w3l">
                      <img src="<%= ad.photos.first.thumb.url %>" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- //Single Page -->
  <!---728x90--->
