<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="display: inline-block; width: 25%; padding-left: 1em;">
  <div class="field">
    <label>Descrição</label>
    <%= form.text_field :description, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-success form-control' %>
  </div>
</div>
<% end %>
