<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <img src="https://image.flaticon.com/icons/png/512/1865/1865023.png" width="30" height="30" class="d-inline-block align-top" alt="">
  Anúncios de Produtos
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <%= menu 'Homepage', root_path %>
      <%= menu 'Anúncios', ads_path %>
      <%= menu 'Categorias', categories_path %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Category.order(:description).all.each do |category| %>
            <%= link_to category.description, homepage_ads_path(category_id: category.id), class:"dropdown-item"%>
          <% end %>
        </div>
      </li>
    </ul>

    <%= form_tag("/ads/homepage", method: 'post', :class => 'form-inline my-2 my-lg-0') do %>
    <%= text_field_tag(:search, nil, :class => 'form-control mr-sm-2') %>
      <div style="text-align: center; margin-right: 1em;">
        <%= submit_tag("Buscar", :class => 'btn btn-outline-success my-2 my-sm-0') %>
      </div>
    <% end %>

    <span class="navbar-text">
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar Conta', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% else %>
      <%= link_to "Cadastro", new_user_registration_path, :class => 'navbar-link btn btn-outline-secondary' %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-outline-secondary' %>
    <% end %>
    </span>
  </div>
</nav>